html {
    color: rgba(255,255,255,0.75);
    font-size: 1em;
    line-height: 1.4;
}

html, body {
    height: 100%;
    min-height: 100%;
}
body {
    background-color: #272822;
    overflow: hidden;
    position: relative;
}


.bg {
    background: transparent url(../img/bg.png) left top repeat;
}
.main {
}

.parallax {
    position: absolute;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: auto;
    perspective-origin-x: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: auto;
    width: auto;

/*
    left: 5px;
    right: 5px;
    bottom: 5px;
    top: 5px;
    border: 1px solid red;*/
}
.parallax-layer {
    position: absolute;
    right: 0;
    left: 0;
    min-height: 100%;
    transform-origin-x: 100%;
}
.parallax-base {
    top: 0;
    bottom: 0;
    transform: translateZ(0);
}
.parallax-back {

    transform: translateZ(-0.2px);
}

a {
    
}

nav {
    position: fixed;
    width: 200px;
    left: 20px;
    top: 20px;
    background-color: rgba(0,0,0,0.75);
}

.main > section > header {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(60,225,114, 0.75);
    background-color: rgba(0,0,0,0.5);
}

.main > section > header img {
    height: 100px;
    float: left;
    margin-right: 10px;
}

.main > section > article {
    margin: 20px;
    box-shadow: rgba(0,0,0,0.5) 2px 2px 10px;
    border-radius: 5px;
    padding: 10px;
    color: #222;
    background-color: rgba(60,225,114, 0.75)
}



/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
